.Toolbar {
    @media (min-width: 800px) {
        background-color: var(--background);
    }

    & > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 36px;
        padding-bottom: 36px;
        @media (min-width: 800px) {
            padding-top: 72px;
            padding-bottom: 48px;
        }
        
        & > svg {
            margin-right: 24px;
            @media (min-width: 800px) {
                margin-right: 32px;
            }
        }

        #toolbar-logo {
            @media (max-width: 800px) {
                height: 36px; 
                width: auto;
            }
        }
        
        & > img {
            mix-blend-mode: darken;
            @media (max-width: 800px) {
                max-height: 28px;
                width: auto;
            }
        }
    }
}