#hero-image-tile {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 4px;

        & > svg {
            height: calc(100% + 80px);
            width: 100%;
            position: absolute;
            left: 0;
            top: -80px;
            z-index: 1;
            mix-blend-mode: hue;
        }

        & > img {
            height: calc(100% + 80px);
            width: 100%;
            position: absolute;
            object-fit: cover;
            left: 0;
            top: -80px;
            border-radius: 0 0 4px 4px;
            overflow: hidden;
        }
}