.WelcomeTile {
    background-color: white;
    padding: 60px;

    & > .title {
        margin-bottom: 12px;
    }

    & > p {
        margin-top: 8px;
    }

    & > h4 {
        margin-top: 24px;
    }

    & > .button-group {
        margin-top: 36px;

        & button:first-of-type {
            margin-right: 16px;
        }
    }
}